<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to KlusterMedics - Empowering Healthcare Together</title>
</head>


<body 
style='font-family:-apple-system,Segoe UI;
padding:0;
margin: 0;'>

<div class="main-container"
style='	height:100%;
padding: 0 20px;
background: #F2F9F2;
padding: 12px;'>
<div class="main-header" 
	style='	background: #328ECD;
	color:white;
	padding:9px 12px;
	text-align: center;
	justify-content: center;
	flex-direction: column;'>
	<img src='https://res.cloudinary.com/dbkcvkodl/image/upload/v1700692489/Frame_vmalvg.png' style='margin-left:-2px;width:23px;height:23px;margin-bottom:1.2px;'/>
	<h1 style='margin:8px 0; font-size:1.8em'>Welcome to KlusterMedics</h1>
</div>
	<div class="main-body" 
	style='padding: 12px;
	font-size: 15px;'>

		<div><p style="color:black"> Dear <%=name%>,<p/>
			<p>On behalf of the entire team at KlusterMedics, I am thrilled to extend a warm welcome to you! We are delighted that you have chosen KlusterMedics as your partner in the journey towards better health and improved medication adherence.
			At KlusterMedics, we understand the unique challenges that come with managing chronic conditions, and we are committed to providing you with the tools and support needed to navigate this path effectively.		
		</p>
		<p>
			As you embark on this new chapter with us, know that we are here to support you every step of the way. Your well-being is our top priority, and we are dedicated to making your experience with KlusterMedics positive and empowering.
		</p>
		<p>
			Thank you for entrusting KlusterMedics with your health. We look forward to being your steadfast companion on the path to better health.
		</p>
	</div>
		<div style="margin-top:20px;font-size: 13px;font-weight: 500;">
			Best regards,<br/>
			KlusterMedics
		</div>
	</div>
	<div class="main-footer" 
	style='
	text-align: center;
	padding:12px;
	background: rgb(82, 81, 81);
	color: white;'>
		<div class="footer-links"><i class="fas fa-envolope"></div>
		<div class="copyright" style='font-size: 11px;'><p>KlusterMedics © 2023</p></div>
	</div>
</div>

</body>
</html>