<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome to KlusterMedics - Empowering Healthcare Together</title>
</head>


<body 
style='font-family:-apple-system,Segoe UI;
padding:0;
margin: 0;'>

<div class="main-container"
style='	height:100%;
padding: 0 20px;
background: #F2F9F2;
padding: 12px;'>
<div class="main-header" 
	style='	background: #328ECD;
	color:white;
	padding:9px 12px;
	text-align: center;
	justify-content: center;
	flex-direction: column;'>
	<img src='https://res.cloudinary.com/dbkcvkodl/image/upload/v1700692489/Frame_vmalvg.png' style='margin-left:-2px;width:23px;height:23px;margin-bottom:1.2px;'/>
	<h1 style='margin:8px 0; font-size:1.8em'>Welcome to KlusterMedics</h1>
</div>
<div class="main-body" 
style='padding: 12px;
font-size: 15px;'>

	<div><p style="color:black"> Dear <%=name%>,<p/>
		<p>Welcome to KlusterMedics! We are thrilled to have you join our esteemed community of healthcare professionals dedicated to making a positive impact on patient care.

At KlusterMedics, we believe in the transformative power of collaboration and innovation in healthcare. Your decision to join us aligns perfectly with our mission to empower both healthcare providers and patients through cutting-edge digital solutions.
	</p>
	<p>As a new member of our community, we encourage you to explore the platform, familiarize yourself with its features, and engage with fellow healthcare providers. If you have any questions or need assistance, our dedicated support team is here to help.</p>
	<p>Thank you for choosing KlusterMedics. We are excited about the positive impact we can make together in the realm of healthcare.</p>
	</div>
	<div style="margin-top:20px;font-size: 13px;font-weight: 500;">
		Best regards,<br/>
		KlusterMedics
	</div>
</div>
	<div class="main-footer" 
	style='
	text-align: center;
	padding:12px;
	background: rgb(82, 81, 81);
	color: white;'>
		<div class="footer-links"><i class="fas fa-envolope"></div>
		<div class="copyright" style='font-size: 11px;'><p>KlusterMedics © 2023</p></div>
	</div>
</div>

</body>
</html>